/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	margin: 0;
}

p, ul li, ol li {
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.9em;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin Condensed', sans-serif;
	margin: 0;
}

ul, label {
	margin: 0;
	padding: 0;
}

body a:hover {
	text-decoration: none;
}

input[type="submit"], input[type="reset"], .w3layouts_banner_info_right ul li a,
	.wthree_copy_right p a, .agile_map_grid ul li a,
	.agileits_w3layouts_footer_grid ul li a {
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

/*-- banner --*/
.banner {
	background: url(../img/banner.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 780px;
}

/*-- nav --*/
.navbar-default {
	background: none;
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 1em;
	line-height: 73px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 15px 0;
}

.navbar-brand span {
	line-height: 0.5;
	padding: 13px;
	display: inline-block;
	border: 4px solid #f1c112;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
	color: #0b0d0c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ff0101;
	background: none;
}

.navbar-nav>li>a {
	padding: 0;
	font-weight: bold;
	margin: 0 1.5em;
	padding: 0 0 0.5em;
	text-transform: uppercase;
	line-height: 3;
	letter-spacing: 2px;
}

.navbar-default .navbar-nav>li>a {
	color: #0b0d0c;
}

.navbar-collapse {
	padding: 0;
	border-top: none;
	box-shadow: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.navbar-right {
	float: left !important;
	margin-right: 0;
	margin-left: 0em;
}

.navbar-nav {
	float: left;
	margin: 1.7em 0em 0 6em;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ff0101;
}

.nav>li>a {
	font-family: 'Cabin Condensed', sans-serif;
}

.agileits_w3layouts_sign_in {
	float: right;
	margin-top: 2em;
}

.agileits_w3layouts_sign_in a {
	padding: 0.6em 2em;
	color: #fff;
	background: #000;
	text-decoration: none;
	letter-spacing: 2px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
}

.agileits_w3layouts_sign_in a:hover {
	color: #ffce14;
}

nav.navbar.navbar-default {
	margin-top: 1em;
}

/*-- //nav --*/
.agile_short_dropdown {
	border-radius: 0;
	background: #ffffff;
	text-align: center;
	padding: 0;
	border: none;
}

.agile_short_dropdown li a {
	text-transform: uppercase;
	color: #212121;
	font-size: 13px;
	font-weight: 600;
	padding: .8em 0;
}

.agile_short_dropdown>li>a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #ff0101;
}

.menu__list {
	position: relative;
	list-style: none;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Common styles for all menus */
.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__link {
	font-size: 1.2em;
	font-weight: bold;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	letter-spacing: 1px;
	font-family: 'Cabin Condensed', sans-serif;
}

ul.menu__list {
	margin: 1em 0 0 5em;
}

.menu__link:hover, .menu__link:focus {
	outline: none;
}

/* Puck (by @eden_sg) */
.menu--puck .menu__link {
	position: relative;
	display: block;
	margin: 0 0.8em;
	text-align: center;
	color: #000000;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	letter-spacing: 1px;
}

.menu--puck .menu__link:hover, .menu--puck .menu__link:focus {
	color: #111;
}

.menu--puck .menu__item--current .menu__link {
	color: #da1818;
}

.menu--puck .menu__link::before, .menu--puck .menu__link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background: #ffce14;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--puck .menu__link::before {
	bottom: -5px;
	height: 1px;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu--puck .menu__link::after {
	bottom: 0;
}

.menu--puck .menu__item--current .menu__link::before, .menu--puck .menu__item--current .menu__link::after
	{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
	transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

/*-- nav-effect --*/

/*-- sign-in --*/
.agileits_signin_form input[type="text"], .agileits_signin_form input[type="password"],
	.agileits_signin_form input[type="email"] {
	width: 100%;
	padding: 10px;
	font-size: 0.9em;
	margin: 0 0 1em;
	outline: none;
	color: #212121;
	border: 1px solid #bfbfbf;
	letter-spacing: 1px;
	text-align: center;
}

.agileits_signin_form input[type="text"] {
	background: none;
	display: block;
}

.agileits_signin_form input[type="password"] {
	background: none;
	display: block;
}

.agileits_signin_form input[type="text"]::-webkit-input-placeholder,
	.agileits_signin_form input[type="email"]::-webkit-input-placeholder,
	.agileits_signin_form input[type="password"]::-webkit-input-placeholder
	{
	color: #212121;
	!
	important;
}

.agileits_signin_form input[type="submit"] {
	padding: 10px 0;
	width: 100%;
	font-size: 1em;
	border: none;
	color: #fff;
	background: #0c0c0c;
	outline: none;
	font-weight: 600;
	letter-spacing: 3px;
}

.agileits_signin_form input[type="submit"]:hover {
	background: #ffce14;
}

.agileits_signin_form p {
	font-size: 0.9em;
	color: #212121;
	letter-spacing: 1px;
	padding: 2em 0;
}

.agileits_signin_form p a {
	color: #ff0101;
	text-decoration: underline;
}

.agileits_signin_form p a:hover {
	color: #212121;
}

.agileinfo_sign {
	font-size: 2em;
	color: #f62b2b;
	margin-bottom: 1em;
	letter-spacing: 2px;
}

.w3agile_social_icons ul li {
	display: inline-block;
	margin-right: 1em;
}

li.wthree_follow {
	font-size: 0.9em;
}

.w3agile_social_icons ul li:last-child {
	margin-right: 0;
}

.wthree_follow {
	font-size: 1.2em;
	color: #212121;
}

.agile_remember_left {
	float: left;
}

.agile_remember_left label, .agileinfo_subscribe label {
	font-size: 14px;
	font-weight: 600;
	color: #212121;
	text-transform: capitalize;
	margin: 0;
}

.agile_remember_right {
	float: right;
}

.checkbox {
	position: relative;
	padding-left: 30px !important;
	cursor: pointer;
}

.checkbox i {
	position: absolute;
	bottom: 2px;
	left: 0;
	display: block;
	width: 15px;
	height: 15px;
	outline: none;
	border: 1px solid #5B5B5B;
	background: #FFF;
}

.checkbox input+i:after, .radio input+i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}

.checkbox input:checked+i:after, .radio input:checked+i:after {
	opacity: 1;
}

.checkbox input, .radio input {
	position: absolute;
	left: -9999px;
}

.checkbox input+i:after {
	content: '';
	background: url(${tick}) no-repeat 0px 0px;
	top: -4px;
	left: 0px;
	width: 18px;
	height: 18px;
	text-align: center;
}

.agile_remember_right a {
	font-size: 14px;
	color: #ff0101;
	text-decoration: underline;
	letter-spacing: 1px;
}

.agile_remember_right a:hover {
	color: #212121;
}

.agile_remember {
	padding: 1.5em 0;
}

.w3agile_social_icons ul li i {
	color: #212121;
}

/*-- //sign-in --*/

/*-- /banner-info --*/

/*--slider--*/
#slider2, #slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: rgba(255, 255, 255, .1);
	color: #fff;
	font-weight: bold;
}

.events {
	list-style: none;
}

.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.callbacks li {
	position: absolute;
	width: 100%;
}

.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}

.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	bottom: -59%;
	left: 40px;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 52px;
	width: 36px;
	display: none;
}

.callbacks_nav.next {
	left: auto;
	left: 141px;
}

.callbacks_nav.prev {
	left: auto;
	left: 100px;
}

#slider3-pager a {
	display: inline-block;
}

#slider3-pager span {
	float: left;
}

#slider3-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}

#slider3-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}

#slider3-pager a {
	padding: 0;
}

#slider3-pager li {
	display: inline-block;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	height: auto;
	border: 0;
}

.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 71%;
	left: 45.5%;
	padding: 0;
	margin: 0;
	display: block;
	z-index: 99;
}

.slider-top span {
	font-weight: 600;
}

.callbacks_tabs li {
	display: inline-block;
	margin: 0px 7px;
}

/*----*/
.callbacks_tabs a {
	visibility: hidden;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 10px;
	width: 10px;
	display: inline-block;
	background: #ffffff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
}

.callbacks_here a:after {
	background: #ffce14;
}

.agileits-banner-info {
	text-align: center;
	margin: 16em 0 15.5em 0;
}

.agileits-banner-info h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 5.2em;
	font-weight: bold;
	letter-spacing: 5px;
	text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.57);
	-webkit-text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.57);
	-o-text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.57);
	-moz-text-shadow: 1px 1px 2px rgba(12, 12, 12, 0.57);
}

.agileits-banner-info p {
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 12px;
	color: #ffce14;
	font-weight: 600;
}

/*-- //banner-text --*/
.wthree_banner_grid.bottom-head {
	text-align: center;
	background: #ff0101;
	padding: 0;
	height: 150px;
}

.bottom-head a {
	text-decoration: none;
	display: block;
	height: 150px;
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.buy-media {
	position: absolute;
	bottom: 0;
	height: 150px;
	overflow: hidden;
	padding: 30px;
	width: 100%;
	background-color: #ff0101;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform .2s ease, height .2s ease;
	-moz-transition: -moz-transform .2s ease, height .2s ease;
	-o-transition: -o-transform .2s ease, height .2s ease;
	transition: transform .2s ease, height .2s ease;
}

.bottom-head a:hover .buy-media {
	height: 220px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	width: 100%;
	background-color: #ef0101;
	position: absolute;
	bottom: 0;
	left: 0;
}

.wthree_banner_grid.bottom-head:hover .buy-media h4 {
	color: #ffce14;
}

.wthree_banner_grid:nth-child(2) {
	border-left: 1px ridge #da0606;
	border-right: 1px solid #da0606;
}

.wthree_banner_grid:nth-child(3) {
	border-right: 1px solid #da0606;
}

.wthree_banner_grid i {
	font-size: 2.2em;
	color: #fff;
}

.wthree_banner_grid h4 {
	text-transform: capitalize;
	font-size: 1.1em;
	color: #fff;
	padding-top: 1em;
	letter-spacing: 2px;
}

.agileits_more ul li {
	display: inline-block;
}

/*-- //banner-info --*/

/*-- about--*/
.w3_statistics_grid_left_grid {
	position: relative;
}

.w3ls_play_icon {
	position: absolute;
	bottom: 45%;
	left: 45%;
	font-size: 1.5em;
	width: 70px;
	height: 40px;
	background: #f5232e;
	color: #fff;
	text-align: center;
	border-radius: 5px;
}

.w3ls_play_icon i {
	line-height: 1.6em;
}

.w3ls_play_icon:hover, .w3ls_play_icon:focus {
	color: #fff;
}

.w3layouts_statistics_grid_right h4 {
	font-size: 1.5em;
	line-height: 1.5em;
	color: #ff0101;
	text-transform: capitalize;
	margin-bottom: 1em;
	letter-spacing: 1px;
}

.w3_stats_grid {
	text-align: center;
}

.w3layouts_stats_grid1 {
	width: 80px;
	height: 80px;
	background: #ffcd18;
	border-radius: 50%;
	margin: 2em auto 0;
	text-align: center;
}

.w3layouts_stats_grid1 i {
	font-size: 1.6em;
	color: #000;
	line-height: 3.2em;
}

.w3layouts_statistics_grid_right p {
	margin-bottom: 2em;
}

#about {
	padding-top: 5em;
}

#about h2 {
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: 2px;
	color: #000;
	margin-bottom: 1em;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Cabin Condensed', sans-serif;
}

#about h2 span {
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

h3.wthree_text_info {
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: 2px;
	color: #000;
	margin-bottom: 1em;
	text-transform: uppercase;
}

h3.wthree_text_info.three {
	text-transform: none;
	font-size: 2.3em;
	margin: 1em 0;
}

h3.wthree_text_info span {
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

p.agile_des {
	margin: 0 auto;
	width: 95%;
	text-align: center;
	color: #444;
	line-height: 2em;
	font-weight: 600;
	font-size: 1.1em;
}

.agile_inner_grids {
	margin-top: 4em;
}

.w3layouts_about_grid_left {
	background: url(../img/ab.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 600px;
}

/*-- odometer --*/
.odometer {
	font-size: 3em;
	color: #000;
	font-weight: 600;
}

.w3_stats_grid p {
	font-size: 1em;
	color: #ff0101;
	margin: 1em 0 0;
	font-weight: 600;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-car {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit
	{
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	position: relative;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit
	{
	*display: inline;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
	.odometer.odometer-theme-car .odometer-digit .odometer-digit-spacer {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
	.odometer.odometer-theme-car .odometer-digit .odometer-digit-spacer {
	*display: inline;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
	.odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
	text-align: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
	.odometer.odometer-theme-car .odometer-digit .odometer-ribbon {
	display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
	.odometer.odometer-theme-car .odometer-digit .odometer-ribbon-inner {
	display: block;
	-webkit-backface-visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-car .odometer-digit .odometer-value
	{
	display: block;
	-webkit-transform: translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
	.odometer.odometer-theme-car .odometer-digit .odometer-value.odometer-last-value
	{
	position: absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
	.odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner
	{
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
	.odometer.odometer-theme-car.odometer-animating-up.odometer-animating .odometer-ribbon-inner
	{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
	.odometer.odometer-theme-car.odometer-animating-down .odometer-ribbon-inner
	{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
	.odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner
	{
	-webkit-transition: -webkit-transform 2s;
	-moz-transition: -moz-transform 2s;
	-ms-transition: -ms-transform 2s;
	-o-transition: -o-transform 2s;
	transition: transform 2s;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit
	{
	padding: 0 0.1em;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
	.odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
	left: 0.09em;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
	.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
	.odometer.odometer-theme-car.odometer-animating-up .odometer-ribbon-inner,
	.odometer.odometer-theme-car.odometer-animating-down.odometer-animating .odometer-ribbon-inner
	{
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

/*-- //odometer --*/

/*-- portfolio --*/
.agileits_portfolio_grid:before, .agileits_portfolio_grid.project_icon:before
	{
	content: "\f06e";
	font-size: 1.5em;
	width: 60px;
	height: 60px;
	line-height: 2.9em;
	background: #ff0101;
	font-family: FontAwesome;
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
	-ms-transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
	transform: translateX(-50%) translateY(-50%) scale(0.3, 0.3);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;
	-moz-transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;
	-ms-transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;
	-o-transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;
	transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0s;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.agileits_portfolio_grid:after {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.agileinfo_portfolio_grid:hover .agileits_portfolio_grid:after {
	opacity: 1;
}

.agileinfo_portfolio_grid:hover .agileits_portfolio_grid:before {
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1, 1);
	-ms-transform: translateX(-50%) translateY(-50%) scale(1, 1);
	transform: translateX(-50%) translateY(-50%) scale(1, 1);
	-webkit-transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
		0.1ms;
	-moz-transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1ms;
	-ms-transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1ms;
	-o-transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1ms;
	transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1ms;
}

/*--flexisel--*/
.flex-slider {
	background: #222227;
	padding: 70px 0 165px 0;
}

#flexiselDemo1 {
	display: none;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}

.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
}

.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}

.nbs-flexisel-item>img {
	cursor: pointer;
	position: relative;
}

/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	background: none;
	top: -5% !important;
	border-radius: 5px;
	display: none;
}

.nbs-flexisel-nav-left {
	left: 91%;
}

.nbs-flexisel-nav-right {
	right: 1.2%;
	background: none;
}

/*--//flexisel--*/
.agileinfo_portfolio_grid.project {
	padding: 0;
}

.agileits_portfolio_grid.project_icon:before {
	line-height: 2.5em !important;
}

/*-- //portfolio --*/
.banner_inner_agileits {
	background: url(../img/banner_inner.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 350px;
}

.w3layouts_banner_info_inner {
	text-align: center;
	margin-top: 7em;
}

.w3layouts_banner_info_inner h2 {
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Cabin Condensed', sans-serif;
}

.w3layouts_banner_info_inner h2 span {
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

.w3layouts_banner_info_inner p {
	font-size: 1em;
	color: #ffce14;
	font-weight: 300;
	margin-top: .5em;
	letter-spacing: 7px;
}

/*--services--*/
.icon-left {
	float: left;
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 1.2em 0 0 0;
	margin-right: 1em;
	background: #fff;
	border: 1px solid #000;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
}

.icon-right {
	float: left;
	width: 70%;
}

.icon-left i.fa {
	color: #000;
	font-size: 1.4em;
	line-height: 19px;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.icon-right h5 {
	color: #000;
	font-size: 1.5em;
	margin: 0;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.icon-right p {
	margin: 0.5em 0 1em 0;
}

.w3ls-markets-grid:nth-child(4), .w3ls-markets-grid:nth-child(5),
	.w3ls-markets-grid:nth-child(6) {
	/* margin: 3em 0 0 0; */
	margin: 0 0 0 0;
}

.agileits-icon-grid a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 8px 0;
	width: 100%;
	border-top: 1px solid #ffce14;
	border-bottom: 1px solid #ffce14;
	margin-top: 1em;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	font-weight: 600;
	background: #ffce14;
}

.w3ls-markets-grid:hover .agileits-icon-grid a {
	border-color: #000;
	background: #000;
	color: #fff;
}

.w3ls-markets-grid:hover .icon-left {
	webkit-animation: fa-spin 3s infinite linear;
	animation: fa-spin 3s infinite linear;
	background: #ff0101;
	border: 1px solid #ff0101;
}

.agileits-icon-grid a:focus {
	outline: none;
}

.agileits-icon-grid:hover a {
	border-color: #ff0101;
}

.agileits-icon-grid:hover .icon-left i {
	color: #fff;
}

.agileits-icon-grid:hover .icon-right h5 {
	color: #ff0101;
}

.agile_services, .mail {
	padding: 5em 0;
}

h3.wthree_text_info.two {
	text-align: center;
}

/*--//Services--*/

/*--/news--*/
.grid figure {
	position: relative;
	overflow: hidden;
	background: #000000;
	text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 4em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure h3 {
	font-weight: 300;
	letter-spacing: 2px;
	color: #fff;
}

.grid figure h3 span {
	font-weight: 700;
	color: #ff0101;
}

.grid figure p {
	letter-spacing: 10px;
	color: #fff;
	line-height: 2em;
}

/***** Ruby *****/

/*---------------*/
figure.effect-ruby {
	background-color: #0e0e0e;
}

figure.effect-ruby img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h3 {
	margin-top: 16%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
	margin-bottom: 1em;
	font-size: 2em;
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid rgba(255, 255, 255, 0.46);
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0) scale(1.1);
	transform: translate3d(0, 20px, 0) scale(1.1);
}

figure.effect-ruby:hover h3 {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}

.news_info_img.grid img {
	width: 100%;
}

.agile_info_news {
	padding: 0;
}

.agile_info_text {
	padding: 6em 4em;
}

.agile_info_text h4 {
	font-size: 2em;
	margin-bottom: 0.5em;
	letter-spacing: 1px;
}

.agile_info_text h4 a {
	color: #1b1b1b;
}

.agile_info_text h4 a:hover {
	text-decoration: none;
}

.news_agile {
	background: #0099e5;
}

ul.new_w3ls_agile li {
	list-style: none;
	display: inline-block;
	margin-right: 1em;
	color: #fff;
	letter-spacing: 2px;
	font-size: 0.9em;
}

ul.new_w3ls_agile li a {
	color: #fff;
}

.agile_info_text p {
	color: #bae5fb;
	line-height: 2em;
}

ul.new_w3ls_agile {
	margin: 1.5em 0px;
}

ul.new_w3ls_agile li a:hover {
	color: #ffce14;
}

/*--/w3layouts_bottom --*/
.w3layouts_bottom {
	padding: 4em 0;
}

.w3layouts_getin_info h3 {
	color: #000;
	letter-spacing: 4px;
	font-size: 1.5em;
}

.w3layouts_getin a, a.learn {
	font-size: 1em;
	color: #fff;
	background: #ff0101;
	padding: 0.7em 1em;
	letter-spacing: 1px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
}

a.learn {
	margin: 1em 0 0 0;
	display: inline-block;
	background: #131212;
}

.agileits_w3layouts_heding img {
	width: 100%;
}

/*--//w3layouts_bottom --*/

/*--//news--*/
h3.wthree_text_info.lost.two {
	color: #fff;
}

.feedback-top {
	padding: 2em 1.5em;
	background: rgba(0, 0, 0, 0.64);
	position: relative;
}

.feedback-top:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 17px solid rgba(25, 24, 24, 0.75);
	border-left: 10px solid rgba(69, 42, 21, 0);
	border-right: 10px solid rgba(199, 57, 57, 0);
	left: 9%;
	top: 99%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.feedback-top p {
	color: #FFFFFF;
	font-size: .9em;
	margin: 0;
	line-height: 2em;
	letter-spacing: 2px;
}

.feedback-img {
	float: left;
	width: 28%;
}

.feedback-grids {
	margin: 2em 0 0;
	border-top: 2px solid rgba(255, 255, 255, 0.46);
	padding-top: 2em;
}

.feedback-img img {
	width: 100%;
}

.feedback-info {
	margin: 1em !important;
}

.feedback-img-info {
	float: left;
	width: 65%;
	margin: 1.5em 0 0 1em;
}

.feedback-img-info h5 {
	color: #f8ce06;
	font-size: 1.3em;
	letter-spacing: 1px;
}

.feedback-img-info p {
	color: #ffffff;
	font-size: .9em;
	padding-top: .5em;
}

.icon-w3l i {
	font-size: 2em;
	color: #fcd000;
	margin-left: .4em;
	position: relative;
}

.icon-w3l {
	position: relative;
}

#clients {
	background: url(../img/banner1.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	min-height: 710px;
	padding-top: 6em;
}

/*-- //feedback --*/

/*--/chart--*/
.agile_info_bar {
	position: relative;
}

#chart {
	width: 650px;
	height: 300px;
	margin: 30px auto 0;
	display: block;
}

#chart #numbers {
	height: 100%;
	width: 50px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}

#chart #numbers li {
	text-align: right;
	padding-right: 1em;
	list-style: none;
	height: 29px;
	position: relative;
	bottom: 30px;
}

#chart #numbers li:last-child {
	height: 30px;
}

#chart #numbers li span {
	color: #262c38;
	position: absolute;
	bottom: 0;
	right: 10px;
	font-weight: 600;
}

#chart #bars {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#chart #bars li {
	display: table-cell;
	width: 80px;
	height: 300px;
	margin: 0;
	text-align: center;
	position: relative;
}

#chart #bars li .bar {
	display: block;
	width: 70px;
	margin-left: 15px;
	background: #0099e5;
	position: absolute;
	bottom: 0;
}

#chart #bars li .bar:hover {
	background: #5AE;
	cursor: pointer;
}

#chart #bars li .bar:hover:before {
	font-weight: 600;
	color: #262c38;
	content: attr(data-percentage) '%';
	position: relative;
	bottom: 20px;
}

#chart #bars li span {
	font-weight: 600;
	color: #262c38;
	width: 100%;
	position: absolute;
	bottom: -2em;
	left: 9px;
	text-align: center;
	font-size: 0.9em;
}

/*--//chart--*/

/*-- icons --*/
ul.bs-glyphicons-list li:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

ul.bs-glyphicons-list li:hover span {
	color: #fff;
}

.codes a {
	color: #999;
}

.row.fontawesome-icon-list {
	margin: 0;
}

.icon-box {
	padding: 8px 15px;
	background: rgba(149, 149, 149, 0.18);
	margin: 1em 0 1em 0;
	border: 5px solid #ffffff;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	cursor: pointer;
}

.icon-box:hover {
	background: #000;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.icon-box:hover i.fa {
	color: #fff !important;
}

.icon-box:hover a.agile-icon {
	color: #fff !important;
}

.codes .bs-glyphicons li {
	float: left;
	width: 12.5%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
}

.codes .bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}

.codes .glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.codes .bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

h3.icon-subheading {
	font-size: 25px;
	color: #ff0101 !important;
	margin: 30px 0 15px;
}

h3.agileits-icons-title {
	text-align: center;
	font-size: 30px;
	color: #333333;
}

.icons a {
	color: #999;
}

.icon-box i {
	margin-right: 10px !important;
	font-size: 20px !important;
	color: #282a2b !important;
}

.bs-glyphicons li {
	float: left;
	width: 18%;
	height: 115px;
	padding: 10px;
	line-height: 1.4;
	text-align: center;
	font-size: 12px;
	list-style-type: none;
	background: rgba(149, 149, 149, 0.18);
	margin: 1%;
	cursor: pointer;
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
	color: #282a2b;
}

.bs-glyphicons.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #777;
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}

@media ( max-width :1080px) {
	.icon-box {
		width: 33.33%;
	}
}

@media ( max-width :991px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
		float: left;
	}
}

@media ( max-width :768px) {
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}

@media ( max-width : 640px) {
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 25px;
	}
}

@media ( max-width : 480px) {
	.bs-glyphicons li {
		width: 31%;
	}
	.icon-box {
		float: left;
		width: 100%;
	}
}

@media ( max-width : 414px) {
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}

@media ( max-width : 384px) {
	.icon-box {
		float: none;
		width: 100%;
	}
}

@media ( max-width : 375px) {
	.w3_agileits_icons_page {
		margin: 25px 0 0 !important;
	}
}

/*-- //icons --*/

/*--Typography--*/
.well {
	font-weight: 300;
	font-size: 14px;
}

.list-group-item {
	font-weight: 300;
	font-size: 14px;
}

li.list-group-item1 {
	font-size: 14px;
	font-weight: 300;
}

.typo p {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}

.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}

.grid_3 {
	margin-bottom: 2em;
}

.xs h3, h3.m_1 {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}

.grid_3 p {
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}

.grid_4 {
	background: none;
	margin-top: 50px;
}

.label {
	font-weight: 300 !important;
	border-radius: 4px;
}

.grid_5 {
	background: none;
	padding: 2em 0;
}

.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars
	{
	margin-bottom: 1em;
	color: #efb312;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 0;
}

.grid_3.grid_5.w3 h6 {
	text-align: left !important;
	text-transform: lowercase;
	letter-spacing: 1px;
}

.bs-example h6 {
	text-align: left;
	font-size: 0.9em;
	color: #999;
	letter-spacing: 1px;
	text-transform: lowercase;
}

.badge-primary {
	background-color: #03a9f4;
}

.badge-success {
	background-color: #8bc34a;
}

.badge-warning {
	background-color: #ffc107;
}

.badge-danger {
	background-color: #e51c23;
}

.grid_3 p {
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}

.bs-docs-example {
	margin: 1em 0;
}

section#tables p {
	margin-top: 1em;
}

.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td,
	.table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

.alert {
	font-size: 0.85em;
}

h1.t-button, h2.t-button, h3.t-button, h4.t-button, h5.t-button {
	line-height: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

@media ( max-width :768px) {
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}

@media ( max-width :640px) {
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars
		{
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li, .grid_3 p, ul.list-group li, li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}

@media ( max-width :480px) {
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars
		{
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert, p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}

@media ( max-width : 320px) {
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p, ol.breadcrumb li, .grid_3 p, .well, ul.list-group li, li.list-group-item1,
		a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav>li>a {
		font-size: 14px;
	}
	table.table.table-striped, .table-bordered, .bs-docs-example {
		display: none;
	}
}

/*-- //typography --*/

/*-- /contact--*/

/*-- input-effect --*/

/*-- effect --*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 370px;
	width: calc(100% - 0em);
	vertical-align: top;
}

span.input.input--chisato:nth-child(2) {
	margin: 0 0.6em;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none;
	/* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Chisato */
.input--chisato {
	padding-top: 1em;
}

.input__field--chisato {
	width: 100%;
	padding: .9em 0.5em;
	background: transparent;
	border: 2px solid #b5b5b5;
	color: #212121;
	-webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.input__label--chisato {
	width: 100%;
	position: absolute;
	top: 0;
	text-align: left;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
	padding: 0 1em;
	font-weight: 400;
	color: #7d7b7b;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

.input__label-content--chisato::after {
	content: attr(data-content);
	position: absolute;
	top: -200%;
	left: 0;
	color: #fcb314;
	font-weight: 600;
}

.input__field--chisato:focus, .input--filled .input__field--chisato {
	border-color: #fcb314;
}

.input__field--chisato:focus+.input__label--chisato, .input--filled .input__label--chisato
	{
	-webkit-animation: anim-chisato-1 0.25s forwards;
	animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus+.input__label--chisato .input__label-content--chisato,
	.input--filled .input__label-content--chisato {
	-webkit-animation: anim-chisato-2 0.25s forwards ease-in;
	animation: anim-chisato-2 0.25s forwards ease-in;
}

@
-webkit-keyframes anim-chisato-1 { 0%, 70% {
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}

71%,
100%
{
-webkit-transform








:




 




translate3d








(0
,
0,
0);
transform








:




 




translate3d








(0
,
0,
0);
}
}
@
-webkit-keyframes anim-chisato-2 { 0% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

70%,
71%
{
-webkit-transform








:




 




translate3d








(0
,
125%,
0);
transform








:




 




translate3d








(0
,
125%,
0);
opacity








:




 




0;
-webkit-animation-timing-function








:




 




ease-out








;
}
100%
{
color








:




 




transparent








;
-webkit-transform








:




 




translate3d








(0
,
200%,
0);
transform








:




 




translate3d








(0
,
200%,
0);
}
}
@
keyframes anim-chisato-1 { 0%, 70% {
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}

71%,
100%
{
-webkit-transform








:




 




translate3d








(0
,
0,
0);
transform








:




 




translate3d








(0
,
0,
0);
}
}
@
keyframes anim-chisato-2 { 0% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

70%,
71%
{
-webkit-transform








:




 




translate3d








(0
,
125%,
0);
transform








:




 




translate3d








(0
,
125%,
0);
opacity








:




 




0;
-webkit-animation-timing-function








:




 




ease-out








;
}
100%
{
color








:




 




transparent








;
-webkit-transform








:




 




translate3d








(0
,
200%,
0);
transform








:




 




translate3d








(0
,
200%,
0);
}
}

/*-- //effect --*/
.w3_agile_form textarea {
	outline: none;
	background: none;
	border: 2px solid #b5b5b5;
	font-size: 13px;
	color: #212121;
	width: 100%;
	padding: .9em 0.9em;
	margin: 2em 0;
	min-height: 200px;
	letter-spacing: 1px;
}

.w3_agile_form textarea::-webkit-input-placeholder {
	color: #333 !important;
}

/*-- //input-effect --*/
.w3_agile_form input[type="submit"] {
	outline: none;
	background: #ff0101;
	color: #fff;
	padding: 1em 0;
	font-size: 1em;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 24%;
}

.w3_agile_form input[type="submit"]:hover {
	background: #ffce14;
}

.agile_map iframe {
	width: 100%;
	min-height: 479px;
}

.agile_map {
	padding: 0;
}

.w3_agile_contact_grid {
	padding: 2em 0 2em;
	text-align: center;
	background: #1d1d1d;
}

.w3_agile_contact_grid:nth-child(2) {
	margin: 0.5em 0;
}

.w3_agile_contact_grid p {
	color: #8c8989;
	line-height: 1.9em;
}

.agile_contact_grid_left i {
	font-size: 3em;
	color: #f33f1d;
	line-height: 2em;
}

.agile_contact_grid_right h4 {
	font-size: 1.5em;
	color: #ffce14;
	font-weight: 700;
	margin-bottom: .5em;
	letter-spacing: 2px;
}

.agile_contact_grid_right p a {
	color: #555;
	text-decoration: none;
}

.agile_contact_grid_right p span {
	display: block;
}

.w3_agile_mail_grid {
	padding-left: 0;
}

/*-- //contact--*/

/*-- footer --*/
.footer {
	background: #1d1c1c;
	padding: 4em 0;
}

.w3agile_footer_grid h3 {
	font-size: 1.7em;
	color: #fff;
	margin-bottom: 1em;
	position: relative;
	font-weight: 100;
	letter-spacing: 1px;
}

.w3agile_footer_grid {
	line-height: 2em;
}

.w3agile_footer_grid ul li {
	list-style-type: none;
	margin-bottom: 1.5em;
}

.w3agile_footer_grid ul li a {
	text-decoration: none;
	color: #999;
}

.w3agile_footer_grid ul li a i {
	color: #ffce14;
	margin-right: 4px;
}

.w3agile_footer_grid ul li a:hover {
	color: #ffce14;
}

.w3agile_footer_grid:nth-child(2) {
	padding-left: 4em;
}

.w3agile_footer_grid:nth-child(3) {
	padding-left: 3em;
}

ul.w3agile_footer_grid_list li {
	list-style-type: none;
	color: #999;
	line-height: 1.9em;
	margin-bottom: 1em;
	font-size: 0.9em;
}

ul.w3agile_footer_grid_list li span {
	display: block;
	margin: 1em 0 0;
}

ul.w3agile_footer_grid_list li span i {
	margin-right: 10px;
	color: #4cc2ff;
}

.w3agile_footer_grid_left {
	float: left;
	width: 33.33%;
	padding: .15em;
}

.w3agile_footer_grid p {
	font-size: 0.9em;
	color: #8e8c8c;
}

.agileinfo_copy_right {
	background: #151414;
	padding: 1.5em 0;
}

.agileinfo_copy_right_left {
	float: left;
}

.agileinfo_copy_right_right {
	float: right;
}

.agileinfo_copy_right_left p {
	color: #fff;
	line-height: 1.8em;
}

.agileinfo_copy_right_left p a {
	color: #ffce14;
	text-decoration: none;
}

.agileinfo_copy_right_left p a:hover {
	color: #fff;
}

ul.social li {
	display: inline-block;
	margin: 0 .5em;
	font-size: 1em;
	color: #999;
}

.social a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
	z-index: 2;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.social a:hover {
	color: #fff;
}

.social a:hover .tooltip {
	display: block;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(0, -10px);
	transform: translate(0, -10px);
}

.social a:active {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social .tooltip {
	opacity: 0;
	position: absolute;
	top: -20px;
	left: 50%;
	z-index: 1;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.social .tooltip span {
	position: relative;
	left: -50%;
	padding: 6px 8px 5px 8px;
	border-radius: 3px;
	color: #fff;
	font-size: .7rem;
	line-height: 1;
	z-index: 1;
	background: #ffce14;
	color: #fff;
}

.social .tooltip span:after {
	position: absolute;
	content: " ";
	width: 0;
	height: 0;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	border: 8px solid transparent;
	border-top-color: #ffce14;
}

.social i {
	position: relative;
	top: 1px;
	font-size: 1em;
	color: #fff;
	margin-right: 11px;
}

.w3agile_footer_grid input[type="email"] {
	outline: none;
	color: #555;
	padding: 7px 10px;
	font-size: 0.9em;
	width: 100%;
	border: none;
	background: #ffffff;
	letter-spacing: 1px;
	margin-top: 2em;
	text-align: center;
}

.w3agile_footer_grid input[type="submit"] {
	outline: none;
	color: #fff;
	padding: 6px 0;
	font-size: 1em;
	width: 100%;
	background: #ff0101;
	border: none;
	text-transform: uppercase;
	margin-top: 0.5em;
	letter-spacing: 1px;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

.w3agile_footer_grid input[type="submit"]:hover {
	background: #ffce14;
}

/*-- //footer --*/

/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../img/arrow.png) no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity = 0);
}

/*-- //to-top --*/

/*-- /model --*/
.agileits_w3layouts_heding {
	margin: 0 auto;
	text-align: center;
}

.agileits_w3layouts_heding h3 {
	font-size: 2em;
	color: #111;
	letter-spacing: 2px;
	margin: 0.5em 0 0.7em 0;
}

.agileits_w3layouts_heding p {
	margin: 1em 0;
}

/*-- //model --*/

/*--start-responsive-design--*/
@media ( max-width :1366px) {
	.w3layouts_banner_info_inner {
		text-align: center;
		margin-top: 5em;
	}
	.banner_inner_agileits {
		min-height: 300px;
	}
	#about h2, h3.wthree_text_info {
		font-size: 2.3em;
	}
	.agile_info_text {
		padding: 4.5em 3em;
	}
	#clients {
		min-height: 668px;
		padding-top: 5em;
	}
}

@media ( max-width :1280px) {
	.agileits-banner-info h3 {
		font-size: 4.5em;
	}
	.agileits-banner-info {
		margin: 14em 0 14.5em 0;
	}
	.banner {
		min-height: 733px;
	}
	.agile_info_text {
		padding: 3.5em 3em;
	}
	#chart {
		width: 589px;
		height: 300px;
		margin: 30px auto 0;
		display: block;
	}
	.w3layouts_statistics_grid_right h4 {
		font-size: 1.3em;
	}
}

@media ( max-width :1080px) {
	.social .tooltip {
		top: -20px;
		left: -26%;
	}
	.social .tooltip span {
		position: relative;
		left: -33%;
	}
	#chart #bars li {
		width: 66px;
		height: 300px;
		margin: 0;
	}
	#chart #bars li .bar {
		display: block;
		width: 54px;
		margin-left: 15px;
		bottom: 0;
	}
	#chart {
		width: 500px;
		height: 300px;
		margin: 30px auto 0;
		display: block;
	}
	.menu__link {
		font-size: 1.1em;
	}
	ul.menu__list {
		margin: 1em 0 0 1.5em;
	}
	.menu--puck .menu__link {
		margin: 0 0.5em;
	}
	.navbar-brand {
		font-size: 0.9em;
	}
	.agileits-banner-info {
		margin: 13em 0 10.5em 0;
	}
	.banner {
		min-height: 658px;
	}
	.agile_info_text {
		padding: 1.5em 1em;
	}
	.grid figure p {
		letter-spacing: 6px;
	}
	.grid figure figcaption {
		padding: 3em;
	}
	p.agile_des {
		margin: 0 auto;
		width: 98%;
		line-height: 2em;
		font-size: 1em;
	}
	.w3agile_footer_grid ul li a i {
		margin-right: 3px;
	}
	.feedback-top p {
		font-size: .8em;
	}
	ul.new_w3ls_agile li {
		margin-right: 1em;
		letter-spacing: 1px;
		font-size: 0.8em;
	}
	.input {
		max-width: 304px;
	}
	.agile_services, .mail {
		padding: 4em 0;
	}
	#about {
		padding-top: 4em;
	}
}

@media ( max-width : 1050px) {
	.w3layouts_getin a, a.learn {
		font-size: 0.9em;
		padding: 0.6em 1em;
	}
}

@media ( max-width : 1024px) {
	#chart {
		width: 487px;
		height: 300px;
		margin: 30px auto 0;
		display: block;
	}
	a.learn {
		margin: 0.2em 0 0 0;
	}
	.input {
		max-width: 308px;
	}
	span.input.input--chisato:nth-child(2) {
		margin: 0 0.2em;
	}
	.social .tooltip {
		top: -20px;
		left: -38%;
	}
}

@media ( max-width : 991px) {
	.agileinfo_copy_right_left {
		float: none;
		text-align-last: center;
		margin-bottom: 1em;
	}
	.agileinfo_copy_right_right {
		float: none;
		text-align: center;
	}
	#chart {
		width: 487px;
		height: 300px;
		margin: 60px auto 0;
		display: block;
	}
	.wthree_banner_grid.bottom-head {
		height: 120px;
		float: left;
		width: 25%;
	}
	.buy-media {
		height: 120px;
		padding: 30px 10px;
	}
	.bottom-head a {
		height: 120px;
	}
	.bottom-head a:hover .buy-media {
		height: 160px;
	}
	.wthree_banner_grid h4 {
		font-size: 1em;
		padding-top: 1em;
		letter-spacing: 1px;
	}
	ul.menu__list {
		margin: 2em 0 0 0em;
	}
	.agileits-banner-info h3 {
		font-size: 4em;
	}
	.callbacks_tabs {
		top: 71%;
		left: 41.5%;
	}
	.agileits-banner-info {
		margin: 10em 0 7.5em 0;
	}
	.banner {
		min-height: 603px;
	}
	.w3layouts_about_grid_left {
		min-height: 350px;
	}
	.grid figure figcaption {
		padding: 6em;
	}
	.w3layouts_about_grid_left {
		margin-top: 2em;
	}
	.agile_info_text {
		padding: 2.5em 3em;
	}
	.w3layouts_getin_info {
		float: left;
	}
	.w3layouts_getin {
		float: right;
	}
	.feedback-img {
		float: left;
		width: 26%;
	}
	#clients {
		min-height: 668px;
		padding-top: 4em;
	}
	.w3agile_footer_grid:nth-child(2) {
		padding-left: 0em;
		margin: 2em 0;
	}
	.w3agile_footer_grid:nth-child(3) {
		padding-left: 0;
		margin-bottom: 2em;
	}
	.w3agile_footer_grid {
		line-height: 2em;
		padding: 0;
		margin-top: 1em;
	}
	.w3layouts_banner_info_inner {
		margin-top: 2em;
	}
	.w3layouts_banner_info_inner p {
		font-size: 0.9em;
		margin-top: .5em;
		letter-spacing: 6px;
	}
	.w3ls-markets-grid {
		float: left;
		width: 50%;
		margin-bottom: 1em;
	}
	.w3ls-markets-grid {
		float: left;
		width: 50%;
		margin-bottom: 0em;
	}
	.w3ls-markets-grid:nth-child(4), .w3ls-markets-grid:nth-child(5),
		.w3ls-markets-grid:nth-child(6) {
		margin: 0em 0 0 0;
	}
	.w3ls-markets-grid:nth-child(3), .w3ls-markets-grid:nth-child(4) {
		margin: 2em 0;
	}
	.agileinfo_portfolio_grid.project {
		float: left;
		width: 50%;
	}
	.agile_services, .mail, .footer {
		padding: 4em 0;
	}
	.agile_map iframe {
		width: 100%;
		min-height: 350px;
		margin-bottom: 2em;
	}
	.input {
		max-width: 100%;
	}
	span.input.input--chisato:nth-child(2) {
		margin: 0em;
	}
	.w3_agile_contact_grids_info {
		padding: 0;
	}
	.w3_stats_grid:nth-child(2) {
		margin: 1em 0;
	}
}

@media ( max-width :900px) {
	.agileits-banner-info {
		margin: 8em 0 7.5em 0;
	}
	.banner {
		min-height: 576px;
	}
	.icon-right h5 {
		font-size: 1.3em;
	}
}

@media ( max-width :800px) {
	.agileits-banner-info h3 {
		font-size: 3.4em;
	}
	.banner {
		min-height: 566px;
	}
	figure.effect-ruby p {
		padding: 2em;
	}
}

@media ( max-width :768px) {
	#clients {
		min-height: 623px;
		padding-top: 4em;
	}
	#about h2, h3.wthree_text_info {
		font-size: 2.2em;
	}
}

@media ( max-width : 767px) {
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}
	.navbar-toggle {
		margin: 2em 0 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
		{
		background-color: transparent;
	}
	.navbar-nav>li>a {
		margin-left: 0;
	}
	.navbar-right {
		float: none !important;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	.nav>li>a {
		display: block;
	}
	ul.menu__list {
		margin: 0.5em 0 0.5em 0em;
	}
	li.menu__item {
		width: 100%;
		line-height: 0.6em;
	}
	.menu--puck .menu__link {
		margin: 0 0 0.5em 0;
		padding: 0.8em 0;
		color: #fff;
	}
	.banner {
		min-height: 513px;
	}
	.open>.dropdown-menu {
		display: block;
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #1f1e1e;
		margin-top: 1em;
	}
	.agile_short_dropdown {
		background: #ffce14;
	}
	.menu--puck .menu__link:hover, .menu--puck .menu__link:focus {
		color: #ff0101;
	}
	nav.navbar.navbar-default {
		margin-top: 0em;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px;
	}
	.navbar-collapse.in {
		overflow-y: inherit !important;
	}
	.agileits_w3layouts_sign_in a {
		padding: 0.5em 2em;
		letter-spacing: 1px;
	}
	.agileits_w3layouts_sign_in {
		float: right;
		margin-top: 1.2em;
	}
	.navbar-brand {
		font-size: 0.8em;
		line-height: 63px;
	}
	.banner_inner_agileits {
		min-height: 254px;
	}
	.w3layouts_banner_info_inner h2 {
		font-size: 2.3em;
	}
	#about h2, h3.wthree_text_info {
		font-size: 2em;
	}
	h3.wthree_text_info.three {
		font-size: 2em;
		margin: 1em 0 0.5em 0px;
	}
	p.agile_des {
		margin: 0 auto;
		width: 98%;
		line-height: 2em;
		font-size: 0.9em;
	}
}

@media ( max-width :736px) {
	.navbar-brand {
		font-size: 0.9em;
		padding: 15px 0;
	}
	.agile_info_text h4 {
		font-size: 1.6em;
	}
}

@media ( max-width :667px) {
	.agile_services, .mail {
		padding: 3em 0;
	}
	#about {
		padding-top: 4em;
	}
	#chart {
		width: 487px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	.w3layouts_getin_info h3 {
		letter-spacing: 3px;
		font-size: 1.4em;
	}
	.w3layouts_bottom {
		padding: 3em 0;
	}
	#about {
		padding-top: 3em;
	}
	.agile_services, .mail, .footer {
		padding: 3em 0;
	}
	.agile_inner_grids {
		margin-top: 2em;
	}
}

@media ( max-width :640px) {
	.agileits-banner-info {
		margin: 6em 0 5.5em 0;
	}
	.banner {
		min-height: 461px;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		letter-spacing: 9px;
	}
	.agile_info_text {
		padding: 2em 2em;
	}
}

@media ( max-width :600px) {
	.wthree_banner_grid h4 {
		font-size: 0.9em;
		padding-top: 1em;
		letter-spacing: 1px;
	}
	#about h2, h3.wthree_text_info {
		font-size: 1.8em;
	}
	.buy-media {
		height: 120px;
		padding: 30px 0px;
	}
	.w3_agile_form input[type="submit"] {
		padding: 1em 0;
		font-size: 0.9em;
		letter-spacing: 4px;
		width: 40%;
	}
}

@media ( max-width :568px) {
	.agileits-banner-info h3 {
		font-size: 3em;
	}
	.banner {
		min-height: 448px;
	}
	.w3layouts_banner_info_inner h2 {
		font-size: 2em;
	}
	h3.agileits-icons-title {
		font-size: 24px;
	}
	h3.icon-subheading {
		font-size: 19px;
	}
	.w3layouts_statistics_grid_right h4 {
		font-size: 1.2em;
		margin-bottom: 0.3em;
	}
	figure.effect-ruby p {
		padding: 1em;
	}
	.agileits-banner-info h3 {
		font-size: 2.5em;
	}
	.wthree_banner_grid h4 {
		font-size: 0.8em;
		padding-top: 1em;
		letter-spacing: 1px;
	}
	#about h2, h3.wthree_text_info {
		font-size: 1.8em;
		line-height: 1.5em;
	}
	.grid figure figcaption {
		padding: 2em;
	}
}

@media ( max-width :480px) {
	.w3layouts_getin_info {
		float: none;
		padding: 0;
		text-align: center;
	}
	.w3layouts_getin {
		float: none;
		margin-top: 1.5em;
		text-align: center;
	}
	#chart {
		width: 446px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	#chart #numbers {
		height: 100%;
		width: 46px;
		margin: -6px;
	}
	#chart #bars li span {
		bottom: -2em;
		left: 9px;
		font-size: 0.8em;
	}
	.agile_info_bar {
		padding: 0;
	}
	.buy-media {
		height: 100px;
		padding: 20px 0px;
	}
	.bottom-head a {
		height: 100px;
	}
	.bottom-head a:hover .buy-media {
		height: 120px;
	}
	.wthree_banner_grid.bottom-head {
		height: 100px;
		float: left;
		width: 25%;
	}
	.banner {
		min-height: 383px;
	}
	h3.wthree_text_info.three {
		font-size: 1.6em;
		margin: 1em 0 0.5em 0px;
	}
	.w3agile_footer_grid h3 {
		font-size: 1.4em;
	}
}

@media ( max-width :440px) {
	#chart #bars li .bar {
		display: block;
		width: 33px;
		margin-left: 2px;
		bottom: 0;
	}
	#chart #bars li {
		width: 56px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 371px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	#chart #bars li span {
		bottom: -2em;
		left: -5px;
		font-size: 0.7em;
	}
	.agileits-banner-info p {
		font-size: 0.8em;
		letter-spacing: 6px;
	}
	.callbacks_tabs li {
		margin: 0px 3px;
	}
	.agileits-banner-info {
		margin: 5em 0 4em 0;
	}
	#about h2, h3.wthree_text_info {
		font-size: 1.6em;
		line-height: 1.5em;
	}
	.banner {
		min-height: 408px;
	}
	.agileits-banner-info h3 {
		font-size: 2.3em;
		letter-spacing: 3px;
	}
	.wthree_banner_grid h4 {
		font-size: 0.7em;
		padding-top: 1em;
		letter-spacing: 1px;
	}
	figure.effect-ruby h3 {
		font-size: 1.6em;
	}
	figure.effect-ruby p {
		padding: 1em;
		letter-spacing: 3px;
		font-size: 0.8em;
	}
	.agileinfo_portfolio_grid.project {
		float: left;
		width: 100%;
	}
}

@media ( max-width :414px) {
	#chart #bars li .bar {
		display: block;
		width: 33px;
		margin-left: 2px;
		bottom: 0;
	}
	#chart #bars li {
		width: 56px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 371px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	#chart #bars li span {
		bottom: -2em;
		left: -5px;
		font-size: 0.7em;
	}
	.agile_services, .mail, .footer {
		padding: 2em 0;
	}
	.wthree_banner_grid i {
		font-size: 1.6em;
	}
	.wthree_banner_grid.bottom-head {
		height: 100px;
		float: left;
		width: 50%;
	}
	.wthree_banner_grid h4 {
		font-size: 0.9em;
		padding-top: 1em;
		letter-spacing: 1px;
	}
	.agile_info_text {
		padding: 2em 1em;
	}
	.w3layouts_getin_info h3 {
		letter-spacing: 2px;
		font-size: 1.4em;
	}
	.agile_inner_grids {
		margin-top: 1em;
	}
	#clients {
		min-height: 545px;
		padding-top: 3em;
	}
	.w3layouts_banner_info_inner h2 {
		font-size: 1.8em;
	}
	.banner_inner_agileits {
		min-height: 228px;
	}
	.agile_map iframe {
		width: 100%;
		min-height: 277px;
		margin-bottom: 2em;
	}
	.callbacks_tabs {
		top: 74%;
		left: 36.5%;
	}
	.agileits_w3layouts_sign_in a {
		padding: 0.5em 1.5em;
		letter-spacing: 1px;
	}
}

@media ( max-width :384px) {
	#chart #bars li {
		width: 51px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 350px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	.agileits-banner-info {
		margin: 2em 0 3em 0;
	}
}

@media ( max-width :375px) {
	#chart #bars li {
		width: 47px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 340px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	.navbar-brand {
		font-size: 0.7em;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
		letter-spacing: 3px;
	}
	#about {
		padding-top: 2em;
	}
	.w3layouts_bottom {
		padding: 2em 0;
	}
	.w3layouts_getin_info h3 {
		letter-spacing: 1px;
		font-size: 1.4em;
	}
	.feedback-img-info h5 {
		font-size: 1.1em;
	}
	#about h2, h3.wthree_text_info {
		font-size: 1.4em;
		line-height: 1.5em;
	}
	.w3layouts_statistics_grid_right h4 {
		font-size: 1.1em;
		margin-bottom: 0.3em;
	}
	#chart #bars li span {
		bottom: -5em;
		left: -5px;
		font-size: 0.7em;
	}
}

@media ( max-width :320px) {
	#chart #bars li .bar {
		display: block;
		width: 28px;
		margin-left: 2px;
		bottom: 0;
	}
	#chart #bars li {
		width: 42px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 287px;
		height: 300px;
		margin: 60px auto 20px;
		display: block;
	}
}